label {
    color: #777 !important;
}

.details i {
    color: #00736c;
}

/*input anim*/

  .input-field {
    position: relative;
    width: 100%;
    line-height: 44px;
  }
  textarea{
    line-height: 1.5 !important;
    min-height: 130px;
  }
  .form label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #aaa !important;
    transition: 0.2s all;
    cursor: text;
  }
  input,textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #555;
    box-shadow: none;
    background-color: #000;
    color: #fff;
  }
  input:invalid,textarea:invalid {
    outline: 0;
  }
  input:focus,
  input:valid,textarea:focus,textarea:valid {
    border-color: #fff;
  }
  input:focus~label,
  input:valid~label{
    font-size: 14px;
    top: -28px;
    color: #555 !important;
  }
  
  textarea:focus~label,textarea:valid~label {
    font-size: 14px;
    top: -40px;
    color: #555 !important;
  }